.jumbotron
{
  background: url('/home/meet/personal_website/galaxy.jpg') no-repeat center center;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
} 